html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #333;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease; /* Transition pour la couleur */
}
nav ul li a:hover {
    color: #007bff; /* Couleur au survol */
}
.hover-depth {
    transition: transform 0.3s ease; /* Transition pour l'effet de profondeur */
}
.hover-depth:hover {
    transform: scale(1.1); /* Effet de mise à l'échelle pour simuler la profondeur */
}
/* Styles CSS pour les écrans de petite taille (par exemple, smartphones) */
@media screen and (max-width: 600px) {
    /* Ajoutez ici les styles spécifiques aux écrans de petite taille */
    nav ul {
        flex-direction: column;
    }
}

/* Styles CSS pour les écrans de taille moyenne (par exemple, tablettes) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Ajoutez ici les styles spécifiques aux écrans de taille moyenne */
    nav ul {
        justify-content: space-around;
    }
}

/* Styles CSS pour les écrans de grande taille (par exemple, ordinateurs de bureau) */
@media screen and (min-width: 1025px) {
    /* Ajoutez ici les styles spécifiques aux écrans de grande taille */
    nav ul {
        justify-content: flex-end;
    }
}
